@media screen and (max-width: 1400px) {
  #hero-section {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .info-grid {
    flex-wrap: wrap;
  }
  #contact,
  #hero-section {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #main-navigation {
    display: none;
  }
  #mobile-navigation {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #hero-section,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .profile-image-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .info-grid {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #hero-section {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .info-grid,
  .contact-info-upper-container,
  .action-buttons {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .navigation-menu li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .site-logo {
    font-size: 1.5rem;
  }
  .navigation-menu {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .profile-image-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}
